body {
  font-size: 70%;
}

img {
  width: 75%;
  height: 75%;
}

#headerimage,
#headertekst {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 3em;
}

#headerimage {
  padding-right: 1em;
  width: 30%;
  height: 30%;
}

nav {
  ul {
    li {
      float: none;
      width: 100%;
      text-align: left;
    }
  }
}

form {
  text-align: left;
  padding-left: 1em;
}

.modal-content {
    width: 100%;
}
